<div class="form-group">
  <%= label( :page, :name, 'Name') %>
  <%= f.text_field(:name, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :page, :page_id, 'Page ID') %>
  <%= f.text_field(:page_id, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :page, :position, 'Position') %>
  <%=	 f.text_field(:position, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :page, :visible, 'Visible') %>
  <%=	f.check_box(:visible)  %>
</div>
<div class="form-group">
  <%= label( :page, :content_type, 'Content type') %>
  <%=	f.text_field(:content_type, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :page, :content, 'Content') %>
  <%=	f.text_field(:content, :class => 'form-control')  %>
</div>

