<% @page_title = 'Delete section ' + @section.name %>


<%= link_to section_path , :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to List</span>
<% end %>

<div class="sections delete">
  <h2>Delete the Section <strong><%= @section.name %></strong></h2>

  <%= form_for(@section, :method => 'delete') do  |f| %>
<%=	 f.submit('Yes', :class => 'btn btn-danger') %>

      <p class="alert alert-danger delete-alert"> Are you sure that you want to permanently delete the section
        <strong> <%=	f.object.name %> </strong> ?
      </p>

      <div class="form-buttons">
        <%=	 f.submit('Confirm', :class => 'btn btn-danger') %>
        <%= link_to('Cancel', sections_path, :class => 'btn btn-info')%>
      </div>
  <% end %>
</div>