<% @page_title = 'Edit section ' + @section.name %>

<%= link_to section_path, :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to List</span>
<% end %>

<h2>Edit Section
  <strong><%= @section.name %></strong>
</h2>

<div class="sections update">
  <%= form_for(@section, :url => sections_path(@section, :page_id => @page.id), :html => {:class => 'form-edit'})  do  |f| %>
      <%=	 render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-buttons">
        <%=	 f.submit('Update', :class => 'btn btn-primary') %>
      </div>
  <% end %>
</div>