<% @page_title = 'All Sections' %>

<div class="sections index">
  <h2>Sections</h2>
  <%= link_to('Add New Section', new_section_path, :class => 'action new') %>

  <table class="table table-striped table-index">
    <thead class="thead-inverse">
      <tr>
          <th>#</th>
          <th>Section ID</th>
          <th>Section</th>
          <th>Visible</th>
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%	@sections.each do |section| %>
          <tr>
            <td> <%=	 section.position %> </td>
            <td> <%= section.page_id %> </td>
            <td> <%= section.name %> </td>
            <td> <%=	status_tag(section.visible)%> </td>
            <td>
              <%= link_to('Show', section_path(section), :class => 'btn btn-success') %>
              <%= link_to('Edit', edit_section_path(section), :class => 'btn btn-info') %>
              <%= link_to('Delete', delete_section_path(section), :class => 'btn btn-danger') %>
            </td>
          </tr>
      <% end %>
    </table>
</div>