<% @page_title = 'Show page ' + @section.name  %>

<%= link_to sections_path , :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to List</span>
<% end %>


<div class="sections show">
  <h2 class="table-title">
    Section <strong><%= @section.name %></strong>
  </h2>
  <table class="table">
    <tr>
      <th>Subject_id</th>
      <td><%= @section.page_id %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @section.position %></td>
    </tr>
    <tr>
      <th>Visible?</th>
      <td><%=	status_tag(@section.visible) %></td>
    </tr>
    <tr>
      <th>Content type</th>
      <td><%= @section.content_type %></td>
    </tr>
    <tr>
      <th>Content</th>
      <td><%= @section.content %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @section.created_at.strftime('%B %d, %Y %H:%M')%></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @section.updated_at.strftime('%B %d, %Y %H:%M')%></td>
    </tr>
  </table>
</div>

