<div class="form-group">
  <%= label( :page, :name, 'Name') %>
  <%= f.text_field(:name, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :page, :subject_id, 'Subject') %>
  <%= f.select(:subject_id, @subjects.map {|s| [s.name, s.id]}, {}, {:class => 'custom-select form-control'})  %>
</div>

<div class="form-group">
  <%= label( :page, :permalink, 'Permalink') %>
  <%= f.text_field(:permalink, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :page, :position, 'Position') %>
  <%=	 f.select(:position, 1..@pages_count, {}, {:class => 'custom-select form-control'})  %>
</div>
<div class="form-group">
  <%= label( :page, :visible, 'Visible') %>
  <%=	f.check_box(:visible)  %>
</div>

