<% @page_title = 'Delete page ' + @page.name %>

<%= link_to pages_path(:subject_id => @subject.id), :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to List</span>
<% end %>

<div class="pages delete">
  <h2>Delete the page <strong><%= @page.name %></strong></h2>

  <%= form_for(@page, :url => pages_path(@page, :subject_id => @subject.id), :method => 'delete')  do  |f| %>

      <p class="alert alert-danger delete-alert"> Are you sure that you want to permanently delete the page
        <strong> <%=	f.object.name %> </strong> ?
      </p>

      <div class="form-buttons">
        <%=	 f.submit('Confirm', :class => 'btn btn-danger') %>
        <%= link_to('Cancel', pages_path, :class => 'btn btn-info')%>
      </div>
  <% end %>
</div>