<% @page_title = 'All pages' %>

<%= link_to subjects_path() , :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to Subjects</span>
<% end %>

<div class="pages index">

  <h2>Pages</h2>

  <%= link_to new_page_path(:subject_id =>@subject.id) , :class => 'btn btn-secondary btn-back' do %>
      <i class="fa fa-plus-square-o"></i>
      <span>New Page</span>
  <% end %>

  <table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Subject ID</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%	@pages.each do |page| %>
        <tr>
          <th> <%= page.position %> </th>
          <td> <%= page.subject_id %> </td>
          <td> <%= page.name %> </td>
          <td> <%= page.permalink %> </td>
          <td> <%=	status_tag(page.visible) %> </td>
          <td> <%= page.sections.size %> </td>
          <td class="actions">
            <%= link_to('View sections', sections_path(:page_id => page.id), :class => 'btn btn-info') %>
            <%= link_to('Show', page_path(page, :subject_id =>@subject.id), :class => 'btn btn-success') %>
            <%= link_to('Edit', edit_page_path(page,:subject_id =>@subject.id), :class => 'btn btn-info') %>
            <%= link_to('Delete', delete_page_path(page, :subject_id =>@subject.id), :class => 'btn btn-danger') %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>