<div class="form-group">
  <%= label( :subject, :name, 'Name') %>
  <%= f.text_field(:name, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :subject, :position, 'Position') %>
  <%=	 f.text_field(:position, :class => 'form-control')  %>
</div>
<div class="form-group">
  <%= label( :subject, :visible, 'Visible') %>
  <%=	f.check_box(:visible)  %>
</div>

