<% @page_title = 'All Subjects' %>

<div class="subjects index">
  <h2>Subjects</h2>

  <%= link_to new_subject_path , :class => 'btn btn-secondary btn-back' do %>
      <i class="fa fa-plus-square-o"></i>
      <span>New Subject</span>
  <% end %>

  <table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%	@subjects.each do |subject| %>
        <tr>
          <td> <%=	 subject.position %> </td>
          <td> <%= subject.name %> </td>
          <td class="center"> <%=	status_tag(subject.visible) %> </td>
          <td class="center"> <%= subject.pages.size %> </td>
          <td class="actions">
            <%= link_to('View pages', pages_path(:subject_id => subject.id), :class => 'btn btn-info') %>
            <%= link_to('Show', subject_path(subject), :class => 'btn btn-success') %>
            <%= link_to('Edit', edit_subject_path(subject), :class => 'btn btn-info') %>
            <%= link_to('Delete', delete_subject_path(subject), :class => 'btn btn-danger') %>
          </td>
        </tr>
    <% end %>
    </table>
</div>