<% @page_title = 'Delete user ' + @admin_user.name %>

<%= link_to admin_users_path , :class => 'btn btn-secondary btn-back' do %>
    <i class="fa fa-arrow-left"></i>
    <span>Back to List</span>
<% end %>

<div class="admin_users delete">
  <h2>Delete the User <strong><%= @admin_user.name %></strong> </h2>

  <%= form_for(@admin_user, :method => 'delete') do  |f| %>

      <p class="alert alert-danger"> Are you sure that you want to permanently delete the user
        <strong> <%=	f.object.name %> </strong> ?
      </p>

      <div class="form-buttons">
        <%=	 f.submit('Confirm', :class => 'btn btn-danger') %>
        <%= link_to('Cancel', admin_users_path, :class => 'btn btn-info')%>
      </div>
  <% end %>
</div>