<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS - <%=	 @page_title || 'Admin Area' %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if session[:user_id].present? %>
  <nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Simple CMS</a>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item"><%=	 link_to('Manage Subjects', subjects_path, :class => 'nav-link') %></li>
            <li class="nav-item"><%=	 link_to('Manage Pages', pages_path, :class => 'nav-link') %></li>
            <li class="nav-item"><%=	 link_to('Manage Sections', sections_path, :class => 'nav-link') %></li>
            <li class="nav-item"><%=	 link_to('Manage Admin Users', '#', :class => 'nav-link') %></li>
            <li class="nav-item"><%=	 link_to('Logout', access_logout_path, :class => 'nav-link') %></li>

            <!-- TODO add colapse when a new bootstrap version be added
           see https://github.com/twbs/bootstrap/issues/22256
           -->
            <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--Dropdown link-->
              <!--</a>-->
              <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                <!--<a class="dropdown-item" href="#">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
              <!--</div>-->
            <!--</li>-->

          </ul>
        </div>
      </nav>
  <% end %>

    <div class="main">
      <% if flash[:notice].present? %>
          <div class="notice">
            <p class="alert alert-success"> <%= flash[:notice] %> </p>
          </div>
      <% elsif flash[:error].present? %>
          <div class="error">
            <p class="alert alert-danger"> <%= flash[:error] %> </p>
          </div>
      <% else %>
      <% end %>

      <div class="content">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Coderade.io</span>
      </div>
    </footer>
  </body>
</html>
