<!DOCTYPE html>
<html>
  <head>
    <title>Rails Simple CMS - <%=	 @page_title || 'Admin Area' %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%=	 render(:partial => 'application/navbar') %>

    <div class="main">
      <% if flash[:notice].present? %>
          <div class="notice">
            <p class="alert alert-success"> <%= flash[:notice] %> </p>
          </div>
      <% elsif flash[:error].present? %>
          <div class="error">
            <p class="alert alert-danger"> <%= flash[:error] %> </p>
          </div>
      <% else %>
      <% end %>

      <div class="content">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Coderade.io</span>
      </div>
    </footer>
  </body>
</html>
