<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS <%=" | #{@page_title} " if @page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<%=	 render(:partial => 'application/navbar') %>

<%=	 render(:partial => 'public/sidebar', :locals => { :subjects => @subjects}) %>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <div class="container main">
    <%= yield %>
  </div>
</main>

<footer class="footer bg-inverse">
  <div class="container">
    <span class="text-muted">&copy; Coderade.io</span>
  </div>
</footer>

</body>
</html>
