<!DOCTYPE html>
<html>
<head>
  <title>Rails Simple CMS <%=" | #{@page_title} " if @page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<%=	 render(:partial => 'application/navbar') %>

<%=	 render(:partial => 'public/sidebar', :locals => { :subjects => @subjects}) %>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <div class="container main">
    <% if flash[:notice].present? %>
        <div class="notice">
          <p class="alert alert-success"> <%= flash[:notice] %> </p>
        </div>
    <% elsif flash[:error].present? %>
        <div class="error">
          <p class="alert alert-danger"> <%= flash[:error] %> </p>
        </div>
    <% else %>
    <% end %>

    <%= yield %>
  </div>
</main>

<%=	 render(:partial => 'application/footer') %>
</body>
</html>
