<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS <%=" | #{@page_title} " if @page_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%=	 render(:partial => 'application/navbar') %>
<div class="main">
  <div class="container">
    <%= yield %>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy; Coderade.io</span>
  </div>
</footer>
</body>
</html>
